/* colors  */
:root {
    /* primary */
    --light-cyan: hsl(179, 80%, 58%);
    --hot-pink: hsl(343, 100%, 58%);
    /* neutral */
    --black: hsl(230, 60%, 8%);
    --navy-blue: hsl(206, 84%, 22%);
    --gray: hsl(225, 14%, 53%);
  }

/* font styles */

h1, h2, h3, h3 {
  color: white;
  font-weight: 800;
}

h1 {
  font-size: 3rem;
  font-variant: small-caps;
  line-height: 3.5rem;
}

h2 {
  font-size: 2.5rem;
  line-height: 3.4375rem;
}

h1.mob-tab-heading {
  font-size: 2rem;
  line-height: 2.75rem;
}

.special-categories {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}

.plans-heading {
  font-size: 1.5rem;
}

p {
  color: var(--gray);
  font-size: 1.0666rem;
  font-weight: 500;
  line-height: 1.5625rem;
}

* {
  
}

html {
  
}

body {
  background-color: var(--black);
  font-family: 'Manrope', sans-serif;
}