/* colors  */
:root {
    /* primary */
    --light-cyan: hsl(179, 80%, 58%);
    --hot-pink: hsl(343, 100%, 58%);
    /* neutral */
    --black: hsl(230, 60%, 8%);
    --navy-blue: hsl(206, 84%, 22%);
    --grey: hsl(225, 14%, 53%);
    --white: hsl(0, 0%, 100%);
  }